@import '../../styles/variables';
.person {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 300px;
  max-width: 800px;

  padding: 30px;
  border-radius: 24px;

  background: #49555f7e;

  transform: translate(-50%, -50%);
  @include neonBoxShadow(var(--green-shadow));

  &__title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}
